# 忽略 VS Code 的项目级配置（包含调试和任务配置）
.vscode/

# 忽略所有编译生成的二进制文件夹
output/
src/
bin/

# 忽略所有的 .exe 文件（以防万一有人没用 output 目录）
*.exe
*.o
*.obj

# 忽略调试符号文件
*.pdb
*.dSYM/

# 忽略 macOS 系统垃圾文件
.DS_Store
.AppleDouble
.LSOverride

# 忽略文件夹下的所有 .DS_Store
**/.DS_Store